header{
	background-color: orange;
	margin-bottom: 50px;
	margin-top: 0px;
}

.card-pic{
	width:100%;
}
.trading-card{
	margin-bottom: 20px;
	margin-top: 0;
	padding:20px;
}
.col-4{
	border: 1px solid #cccccc;
}